.header-app {
    background: linear-gradient(0deg, #9020bc, #de51eb);
    padding: 20px;
    text-align: center;
    width: 100%;
    box-shadow: 0 8px 10px 0 rgba(206, 84, 213, 0.305), 0 6px 60px 0 rgba(77, 7, 85, 0.19);
}